<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        input {
            display: block;
        }
    </style>
</head>
<body>
    <form th:action="@{/member/login}" th:object="${memberVO}">
        <input type="text" th:field="*{memberEmail}" placeholder="이메일 입력">
        <input type="password" th:field="*{memberPassword}" placeholder="비밀번호 입력">
        <button type>로그인</button>
    </form>
</body>
</html>