<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>일 가기</title>
</head>
<body>
    <form th:action="@{/works/work}" method="post" th:object="${workVO}">
        <input type="text" th:field="*{workName}" placeholder="이름을 입력하세요">
        <button>출근 하기</button>
    </form>
</body>
<script>
    const isAlreadyWork = [[${isAlreadyWork}]];
    if(isAlreadyWork != null){
        alert("이미 출근하셨습니다.");
    }
</script>
</html>