<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.oauth.mapper.OauthMemberMapper">
    <insert id="insert" parameterType="OauthMemberVO">
        <selectKey resultType="Long" keyProperty="id" order="BEFORE">
            SELECT SEQ_OAUTH_MEMBER.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_OAUTH_MEMBER
        VALUES (#{id},
            #{memberEmail},
            #{memberPassword},
            <choose>
                <when test="memberPicture != null">
                    #{memberPicture},
                </when>
                <otherwise>
                    DEFAULT
                </otherwise>
            </choose>
            #{memberName}),
            #{memberNickname}),
            #{memberProvider})
    </insert>

    <select id="selectAll" resultType="OauthMemberVO">
        SELECT ID, MEMBER_EMAIL, MEMBER_PASSWORD, MEMBER_PICTURE, MEMBER_NAME, MEMBER_NICKNAME, MEMBER_PROVIDER
        FROM TBL_OAUTH_MEMBER
    </select>

    <select id="select" parameterType="Long">
        SELECT ID, MEMBER_EMAIL, MEMBER_PASSWORD, MEMBER_PICTURE, MEMBER_NAME, MEMBER_NICKNAME, MEMBER_PROVIDER
        FROM TBL_OAUTH_MEMBER
        WHERE ID = #{id}
    </select>

    <update id="update" parameterType="OauthMemberVO">
        UPDATE TBL_OAUTH_MEMBER
        SET MEMBER_PASSWORD = #{memberPassword}, MEMBER_PICTURE = #{memberPicture}, MEMBER_NAME = #{memberName}, MEMBER_NICKNAME = #{memberNickname}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_OAUTH_MEMBER
        WHERE ID = #{id}
    </delete>

</mapper>