<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

    <typeAliases>
        <!--VO alias 붙이기-->
        <typeAlias type="com.app.oauth.domain.vo.MemberVO" alias="MemberVO"/>
        <typeAlias type="com.app.oauth.domain.vo.SocialMemberVO" alias="SocialMemberVO"/>


        <!--DTO alias 설정-->
        <typeAlias type="com.app.oauth.domain.dto.MemberDTO" alias="MemberDTO"/>
        <typeAlias type="com.app.oauth.domain.dto.response.MemberResponseDTO" alias="MemberResponseDTO"/>

    </typeAliases>
</configuration>