<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.rest_pr.mapper.UserMapper">
    <insert id="insert" parameterType="UserVO">
        <selectKey keyProperty="id" resultType="Long" order="BEFORE">
            SELECT SEQ_USER.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_USER
        VALUES (#{id}, #{userName}, #{userEmail}, #{userPassword}, #{userNickname})
    </insert>

    <select id="existByEmail" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM TBL_USER
        WHERE USER_EMAIL = #{userEmail}
    </select>


    <select id="selectAll" resultType="UserVO" parameterType="String">
        SELECT ID, USER_NAME, USER_EMAIL, USER_PASSWORD, USER_NICKNAME
        FROM TBL_USER
        <choose>
            <when test="order == 'desc'">
                ORDER BY ID DESC
            </when>
            <otherwise>
                ORDER BY ID
            </otherwise>
        </choose>
    </select>

    <select id="selectByEmailAndPassword" parameterType="UserVO" resultType="UserVO">
        SELECT ID, USER_NAME, USER_EMAIL, USER_PASSWORD, USER_NICKNAME
        FROM TBL_USER
        WHERE USER_EMAIL = #{userEmail}
          AND USER_PASSWORD = #{userPassword}
    </select>

    <select id="selectOne" parameterType="Long" resultType="UserVO">
        SELECT ID, USER_NAME, USER_EMAIL, USER_PASSWORD, USER_NICKNAME
        FROM TBL_USER
        WHERE ID = #{id}
    </select>

    <update id="update" parameterType="UserVO">
        UPDATE TBL_USER
        SET USER_NAME = #{userName}, USER_PASSWORD = #{userPassword}, USER_NICKNAME = #{userNickname}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_USER
        WHERE ID = #{id}
    </delete>

</mapper>