<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시판 목록</title>
</head>
<body>

<!--    게시글 존재 여부에 따라서 표현 달리 하기-->
<!--    게시글이 없는데 for each 쓰면 성능 불이익 존재-->
    <th:block th:if="${#lists.size(posts) != 0}">
        <p1>게시글이 있습니다.</p1>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>제목</th>
                <th>조회수</th>
                <th>작성자</th>
            </tr>
<!--            오브젝트로 가지고 와서 하는거도 권장-->
<!--            <tr th:each="post : ${posts}">-->
<!--                <td th:text="${post.id}"></td>-->
<!--                <td th:text="${post.postTitle}"></td>-->
<!--                <td th:text="${post.postReadCount}"></td>-->
<!--                <td th:text="${post.memberName}"></td>-->
<!--            </tr>-->
            <th:block th:each="post : ${posts}">
                <tr th:object="${post}">
                    <td th:text="*{id}"></td>
                    <td>
                        <a th:href="@{/posts/read(id=*{id})}" th:text="*{postTitle}"></a>
                    </td>
                    <td th:text="*{postReadCount}"></td>
                    <td th:text="*{memberName}"></td>
                </tr>
            </th:block>
        </table>
    </th:block>
    <th:block th:unless="${#lists.size(posts) != 0}">
        <p1>게시글이 없습니다.</p1>
    </th:block>
</body>
</html>