<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

    <typeAliases>
        <!--VO alias 붙이기-->
        <typeAlias type="com.app.rest_pr.domain.vo.UserVO" alias="UserVO"/>

        <!--유저 DTO-->
        <typeAlias type="com.app.rest_pr.domain.dto.UserJoinRequestDTO" alias="UserJoinRequestDTO"/>
        <typeAlias type="com.app.rest_pr.domain.dto.UserLoginRequestDTO" alias="UserLoginRequestDTO"/>
        <typeAlias type="com.app.rest_pr.domain.dto.UserResponseDTO" alias="UserResponseDTO"/>
        <typeAlias type="com.app.rest_pr.domain.dto.UserUpdateRequestDTO" alias="UserUpdateRequestDTO"/>

    </typeAliases>
</configuration>