<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

    <typeAliases>
        <!--VO alias 붙이기-->
        <typeAlias type="com.app.restful.domain.vo.MemberVO" alias="MemberVO"/>
        <typeAlias type="com.app.restful.domain.vo.PostVO" alias="PostVO"/>

        <!--DTO alias-->
        <!--멤버 DTO-->
        <typeAlias type="com.app.restful.domain.dto.PostDTO" alias="PostDTO"/>
        <typeAlias type="com.app.restful.domain.dto.MemberJoinRequestDTO" alias="MemberJoinRequestDTO"/>
        <typeAlias type="com.app.restful.domain.dto.MemberLoginRequestDTO" alias="MemberLoginRequestDTO"/>
        <typeAlias type="com.app.restful.domain.dto.MemberUpdateRequestDTO" alias="MemberUpdateRequestDTO"/>

        <!--게시글 관련 DTO-->
        <typeAlias type="com.app.restful.domain.dto.PostDTO" alias="PostDTO"/>

    </typeAliases>
</configuration>